.disabled.svelte-9ck7p1,.active.svelte-9ck7p1{pointer-events:none}
th.svelte-1qiis82{transition:font-size 200ms ease-in-out !important}.sorting.svelte-1qiis82{color:brown !important;font-size:1.4em}tr.canNav.svelte-1qiis82{cursor:pointer !important}
.ui.container.svelte-u7s6u{text-align:center;margin-top:60px}